.members {
  padding: 4rem 2rem;
  text-align: center;
  background: #ffffff;
}

.members-title {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #222;
}

.members-subtitle {
  font-size: 1.1rem;
  color: #666;
  max-width: 600px;
  margin: 0 auto 3rem;
}

.members-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: center; 
  max-width: 2000px;         
  margin: 0 250px; 
}

.member-card {
  background: linear-gradient(135deg, #ffe6a8, #fffcdc);
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-card img {
  margin-top: 15px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}

.member-card-content {
  padding: 1.5rem;
  flex: 1;
}

.member-card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  color: #333;
}

.member-card p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.members-subtitle {
  font-size: 1.rem;
  color: #666;
  max-width: 600px;
  margin: 0 auto 3rem;
  font-weight: bold;
}

.member-card .btn {
  background: #f4870a;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.member-card .btn a {
  color: white;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
}

.member-card .btn:hover {
  background: #eac521;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3);
}

.member-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}



.membersStudents {
  padding: 4rem 2rem;
  text-align: center;
  background: #ffffff;
  padding: 4rem 1rem;
}

.membersStudents-title {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #222;
}

.membersStudents-subtitle {
  font-size: 1.1rem;
  color: #666;
  max-width: 600px;
  margin: 0 auto 3rem;
}

.membersStudents-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem;
  justify-content: center;    
  max-width: 1000px;          
  margin: 0 400px;             
}

.memberStudents-card {
  background: linear-gradient(135deg, #ffe6a8, #fffcdc);
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memberStudents-card img {
  margin-top: 15px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}

.memberStudents-card-content {
  padding: 1.5rem;
  flex: 1;
}

.memberStudents-card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  color: #333;
}

.memberStudents-card p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.memberStudents-card .btn {
  background: #f4870a;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.memberStudents-card .btn a {
  color: white;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
}

.memberStudents-card .btn:hover {
  background: #eac521;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3);
}

.memberStudents-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}




.membersVoluntarias {
  padding: 4rem 2rem;
  text-align: center;
  background: #ffffff;
  padding: 4rem 1rem;
}

.membersVoluntarias-title {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #222;
}

.membersVoluntarias-subtitle {
  font-size: 1.1rem;
  color: #666;
  max-width: 600px;
  margin: 0 auto 3rem;
}

.membersVoluntarias-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: center;    
  max-width: 1080px;          
  margin: 0 auto;             
}

.memberVoluntarias-card {
  background: linear-gradient(135deg, #ffb6e2, #f9e9fa);
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memberVoluntarias-card img {
  margin-top: 15px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}

.memberVoluntarias-card-content {
  padding: 1.5rem;
  flex: 1;
}

.memberVoluntarias-card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  color: #333;
}

.memberVoluntarias-card p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.memberVoluntarias-card .btn {
  background: #f40ac5;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.memberVoluntarias-card .btn a {
  color: white;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
}

.memberVoluntarias-card .btn:hover {
  background: #bf53a9;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3);
}

.memberVoluntarias-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}



.apoiadores {
  padding: 4rem 2rem;
  text-align: center;
  background: #ffffff;
  padding: 4rem 1rem;
}

.apoiadores-title {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #222;
}

.apoiadores-subtitle {
  font-size: 1.1rem;
  color: #666;
  max-width: 600px;
  margin: 0 auto 3rem;
}

.apoiadores-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: center;    
  max-width: 1080px;          
  margin: 0 auto;             
}

.apoiadores-card {
  background: linear-gradient(135deg, #b6bdff, #f9e9fa);
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apoiadores-card-content {
  padding: 1.5rem;
  flex: 1;
}

.apoiadores-card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  color: #333;
}

.apoiadores-card p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.apoiadores-card .btn {
  background: #0a60f4;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.apoiadores-card .btn a {
  color: white;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
}

.apoiadores-card .btn:hover {
  background: #5379bf;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3);
}

.apoiadores-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
