body {
  background: linear-gradient(135deg, #fde29c, #fffcdc);   
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #222;
  line-height: 1.4;
  margin-bottom: 20px;
}

.event_program {
  text-align: center; 
  max-width: 1000px;
  padding: 30px;
  margin: 10px auto;
}

.agenda-container {
  display: flex;
  flex-wrap: wrap;      
  justify-content: center;
  max-width: 1500px;
  margin: auto;
}

.agenda {
  width: 180px;
  height: auto;
  margin: 20px auto;;
}

@media (max-width: 480px) {
  h2 {
    font-size: 28px;
    font-weight: bold;
    color: #222;
    margin-bottom: 0px;
  }

  .agenda-container {
    display: flex;
    flex-wrap: wrap;      
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
    gap: 40px;
  }

  .agenda {
      width: 130px;
      height: auto;
    }

}